@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.bg-shine {
		background: linear-gradient(90deg, transparent, rgba(228, 226, 221, 0.05), transparent);
		background-size: 200% 100%;
	}

	.animate-shine {
		animation: shine 2s linear infinite;
	}
}

@layer base {
	@keyframes shine {
		0% {
			background-position: 200% 0;
		}
		100% {
			background-position: -200% 0;
		}
	}
}
